:root {
  --main-blue: #0284c7;
  --main-grey: #d1dce2;
  --blue-hover: #0ea5e9;
  --grey-text: rgb(103, 103, 103);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: var(--main-blue);
  color: white;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

button:hover {
  background-color: var(--blue-hover);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: .75fr 4fr;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding-left: 20px;
  /* display: grid;
  grid-template-columns: 1fr 3fr; */
  background-color: var(--main-blue);
  color: white;
  position: relative;
}

.logo {
  grid-column: 2 / 3;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 25px;
}

.logo:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar > ul {
  line-height: 30px;
  /* grid-column: 2 / 3; */
}


.sidebar > ul > li {
  transition: all .2s ease-in-out;
}

.sidebar > ul > li:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: underline;
}

li {
  font-weight: 500;
}

.main-links {
  position: absolute;
  margin-top: 80px;
}

.side-links {
  position: absolute;
  margin-top: 300px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.4);
}

.top-bar {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 50px 1fr 50px 60px 130px;
  align-items: center;
  margin: 15px 0 0 0;
}

.search-icon {
  margin: 0 0 0 20px;
}

.search {
  margin-right: 100px;
  border-radius: 20px;
  height: 25px;
  border: none;
  background-color: var(--main-grey);
}

.icon2 {
  width: 40px;
  height: auto;
}

.icon3 {
  padding-right: 10px;
  font-weight: 500;
}

.icon1,
.icon2:hover {
  cursor: pointer;
}

.avatar {
  width: 70px;
}

.avatar:hover {
  cursor: pointer;
}

.hello {
  font-size: 12px;
}

.greeting {
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.bottom-bar {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 75px 1fr 125px 125px 125px;
  margin: 0 0 0 35px;
  align-items: center;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 2fr .7fr;
  grid-template-rows: 50px 1fr;
  background-color: var(--main-grey);
}

.title-row {
  align-self: end;
  font-weight: 500;
}
.title-row.project {
  margin-left: 15px;
}

.title-row,
.card-container {
  grid-row: 1 / 2;
}

.title-row.announcement {
  grid-column: 2 / 3;
  margin-left: 10px;
}

.card-container,
.announcement-container,
.trending-container,
.trending {
  grid-row: 2 / 3;
}

.card-container {
  display: grid;
  margin: 5px 10px 25px 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.card {
  width: auto;
  padding: 0 20px 10px 20px;
  border-radius: 6px;
  background: linear-gradient(90deg, gold 2%, white 2%);
  -webkit-box-shadow: 0 6px 6px -6px black;
  -moz-box-shadow: 0 6px 6px -6px black;
  box-shadow: 0 6px 6px -6px black;
  display: grid;
  grid-template-rows: 30px 1fr 30px;
}

.card > p {
  color: var(--grey-text);
}
.icons {
  justify-self: end;
}

.card-icon1,
.card-icon2,
.card-icon3:hover {
  cursor: pointer;
}

.card-icon2 {
  margin: 0 15px;
}

.content-right {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1.5fr 50px 1fr;
  margin: 5px 15px 0 10px;
  max-height: 497px;
}

.announcement-container {
  grid-row: 1 / 2;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  display: grid;
  grid-template-rows: repeat(3, auto-fit);
}

.announcement > h4,
.announcement > p {
  margin: 0;
  padding: 0;
}

.announcement > h4 {
  font-size: 14px;
}

.announcement > p {
  font-size: 12px;
  color: var(--grey-text);
}

.announcement.one {
  padding-bottom: 15px;
}

.announcement.two {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 15px 0;
}

.announcement.three {
  padding-top: 15px;
}

.trending {
  grid-row: 2 / 3;
  align-self: end;
  font-weight: 500;
}

.trending-container {
  grid-row: 3 / 4;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-top: 5px;
  display: grid;
  grid-template-rows: repeat(4, auto-fit);
  gap: 22px;
}

.profile-pic {
  width: 40px;
}

.person {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.person-text {
  font-size: 14px;
  align-self: center;
}

.title {
  color: var(--grey-text);
}