:root {
  --main-blue: #0284c7;
  --main-grey: #d1dce2;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: var(--main-blue);
  color: white;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: .75fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: var(--main-blue);
  color: white;
  height: 100vh;
  position: relative;
}

.logo {
  grid-column: 2 / 3;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 25px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar > ul {
  line-height: 30px;
  grid-column: 2 / 3;
}

li {
  font-weight: 500;
}

.main-links {
  position: absolute;
  margin-top: 80px;
}

.side-links {
  position: absolute;
  margin-top: 300px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  margin: 0 0 0 10px;
}

.top-bar {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 50px 1fr 70px 70px 100px;
  align-items: center;
  margin: 15px 0 0 0;
}

.search-icon {
  margin: 0 0 0 20px;
}

.search {
  margin-right: 100px;
  border-radius: 20px;
  height: 25px;
  border: none;
  background-color: var(--main-grey);
}

.bottom-bar {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 75px 1fr 125px 125px 125px;
  margin: 0 0 0 35px;
  align-items: center;
}

.content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 2fr .8fr;
  grid-template-rows: 50px 1fr;
  background-color: var(--main-grey);
}

.title-row {
  align-self: end;
  font-weight: 500;
}
.title-row.project {
  margin-left: 15px;
}

.title-row,
.card-container {
  grid-row: 1 / 2;
}

.title-row.announcement {
  grid-column: 2 / 3;
  margin-left: 10px;
}

.card-container,
.announcement-container,
.trending-container,
.trending {
  grid-row: 2 / 3;
}

.card-container {
  display: grid;
  margin: 5px 10px 25px 15px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.card {
  background-color: white;
  width: auto;
  padding: 20px 20px;
  border-radius: 6px;
}

.content-right {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1.5fr 50px 1fr;
  margin: 5px 15px 0 10px;
  max-height: 497px;
}

.announcement-container {
  grid-row: 1 / 2;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
}

.trending {
  grid-row: 2 / 3;
  align-self: end;
  font-weight: 500;
}

.trending-container {
  grid-row: 3 / 4;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-top: 5px;
}